//COLORS
$bg-main: rgb(244,244,244);
$color-link: rgb(37,91,187);
$color-header: rgb(46,46,46);
$color-footer: rgb(41,41,41);
$color-text: rgb(171,171,171);
$color-white: #ffffff;
$color-black: #000000;
$color-deepgray: rgb(99,102,106);