.icons{
    &-html{
        color: rgb(221,75,37);
    }
    &-css{
        color: rgb(37,75,221) ;
    }
    &-jvs{
        color: rgb(239,216,29);
    }
    &-sass{
        color: rgb(199,100,148);
    }
    &-react{
        color: rgb(94,211,243);
    }
    &-next{
        color: black;
    }
    &-boots{
        color: rgb(112,16,239);
    }
    &-linkedIn{
        color: rgb(10,99,188);
        size: 70;
        
    }
    &-github{
        color: white;
    }
}
.p-common{    
    font-size: 2.2rem;    
    font-family: 'Roboto Slab', serif;

    @media screen and (max-width: 1000px) and (min-width: 850px){
        font-size: 1.7rem; 
    }
    @media screen and (max-width: 849px) and (min-width: 700px){
        font-size: 1.5rem; 
    }
    @media screen and (max-width: 699px) and (min-width: 550px) {
        font-size: 1.5rem;
    }
    @media screen and (max-width: 549px) and (min-width: 400px) {
        font-size: 1.5rem;
    }           
}
.p-overflow{
    height: 18rem;
    overflow: scroll;
}
.fa{
    &-arrow-right-long{
        padding: 0 .5rem ;
        

        &:hover{
            cursor: pointer;
            display: inline-block;
            animation: moveRight .8s ease-in-out;
        }
    }
}
.linked{
    @media screen and (max-width: 849px) and (min-width: 700px) {
        &{
            font-size: 1.3rem; 
        }
    }
    @media screen and (max-width: 699px) and (min-width: 550px) {
        &{
            font-size: 1.2rem;  
        }
    }
    @media screen and (max-width: 549px) and (min-width: 400px) {
        &{
            font-size: 1.2rem; 
        }
    }
}