.mainIntro{
    padding: 15rem 15rem 0 15rem;

    @media screen and (max-width: 1000px) and (min-width: 850px) {
        &{
            padding: 15rem 10rem 0 10rem; 
        }
    }
    @media screen and (max-width: 849px) and (min-width: 700px) {
        &{
            padding: 10rem 7rem 0 7rem; 
        }
    }
    @media screen and (max-width: 699px) and (min-width: 550px) {
        &{
            padding: 9rem 5rem 0 5rem; 
        }
    }
    @media screen and (max-width: 549px) and (min-width: 400px) {
        &{
            padding: 9rem 3rem 0 3rem; 
        }
    }

    .sectionIntro{
        // margin: 20rem 15rem 10rem 15rem;        
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 3rem;
        border-bottom: 1.3px solid white;

        .div{
            &__introName{
                font-family: 'Playfair Display', serif;
                // font-size: 2.7rem;
                width: 60%;               
            }

            &__h5-intoHello{
                font-size: 7rem;
                line-height: 8.4rem;
                font-weight: 600;
                @media screen and (max-width: 1000px) and (min-width: 850px) {
                    &{
                        font-size: 5.5rem;
                        line-height: 8.0rem;                       
                    }
                }
                @media screen and (max-width: 849px) and (min-width: 700px) {
                    &{
                        font-size: 4.7rem;
                        line-height: 7.0rem;

                    }
                    &Dan{
                        display: block;
                    }
                }
                @media screen and (max-width: 699px) and (min-width: 550px) {
                    &{
                        font-size: 4.1rem;
                        line-height: 6.4rem;                        
                    }
                    &Dan{
                        display: block;
                    }
                }
                @media screen and (max-width: 549px) and (min-width: 400px) {
                    &{
                        font-size: 3.5rem;
                        line-height: 6.0rem;                        
                    }
                    &Dan{
                        display: block;
                    }
                }
            }            
            &__span-line{
                font-weight: 700;
            }
            &__span-shaking{
                animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
                animation-duration: 2.5s;        /* Change to speed up or slow down */
                animation-iteration-count: infinite;  /* Never stop waving :) */
                transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
                display: inline-block;

                &:hover{
                    cursor: move;
                }
            }
            &__introDesc{
                text-align: end;
                width: 40%;
                font-family: 'Roboto Slab', serif;               
            }
            &__p-desc{
                width: 60%;
                margin-left: 10%;
                font-size: 1.6rem;
                font-weight: 400;
                color: $color-text;
                display: inline-block;

                &Span{
                    color: $color-link;
                }
                @media screen and (max-width: 1000px) and (min-width: 850px) {
                    &{
                        font-size: 1.3rem;                        
                    }
                }
                @media screen and (max-width: 849px) and (min-width: 700px) {
                    &{
                        font-size: 1.2rem;
                        width: 75%;                        
                    }
                }
                @media screen and (max-width: 699px) and (min-width: 550px) {
                    &{
                        font-size: 1.2rem;
                        width: 75%;  
                    }
                }
                @media screen and (max-width: 549px) and (min-width: 400px) {
                    &{
                        font-size: 1.2rem;
                        width: 90%;  
                    }
                }

            }
            &__p-contactme{
                margin-top: 1rem;
                font-family: 'Roboto Slab', serif;
                font-size: 1.5rem;
                word-spacing: .1rem;
                

                & > a{
                    color: $color-link;
                    font-weight: 400;
                }
                @media screen and (max-width: 549px) and (min-width: 400px) {
                    &{
                        font-size: 1.3rem;
                        margin-top: .7rem;  
                    }
                }
            }
        }
    }
    
    .sectionAbout{
        padding-bottom: 3rem;
        border-bottom: 1.3px solid white;

        .div{
            &__aboutMe{
                padding-top: 5rem;

                @media screen and (max-width: 699px) and (min-width: 400px) {
                    &{
                        padding-top: 2rem;  
                    }
                }
                
                
            }
            &__aboutFlex{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;

                &-img{
                    flex: 4
                }

                &-p{
                    flex: 8;

                    & > p{
                        width: 87%;
                        margin: 0 auto 2rem auto;
                        text-align: center;

                        @media screen and (max-width: 849px) and (min-width: 700px){
                        margin-bottom: .5rem;                            
                        }
                        @media screen and (max-width: 699px) and (min-width: 550px) {
                            &{
                                margin-bottom: .8rem;
                                width: 92%;
                            }
                        }
                        @media screen and (max-width: 549px) and (min-width: 400px) {
                            &{
                                margin-bottom: .8rem;
                                width: 92%;
                            }
                        }          
                    }
                }
            }
               
        }
    }
}
.div__aboutFlex-imgBg{
    background: $color-deepgray;
    position: relative;
    width: 32rem;
    height: 32rem;
    border-radius: 1rem;
   
    
    @media screen and (max-width: 1000px) and (min-width: 850px){
        width: 22rem;
        height: 22rem;   
    }
    @media screen and (max-width: 849px) and (min-width: 700px){
        width: 18rem;
        height: 18rem;   
    }
    @media screen and (max-width: 699px) and (min-width: 550px) {
        width: 16rem;
        height: 16rem;
    }
    @media screen and (max-width: 549px) and (min-width: 400px) {
        width: 14rem;
        height: 14rem;
    } 

    .img__me{
        width: 32rem;
        height: 32rem;
        object-fit: cover;
        border-radius: 1rem;
        position: absolute;
        top: -2rem;
        left: 2rem;
        z-index: 1;
        

        @media screen and (max-width: 1000px) and (min-width: 850px){
            width: 22rem;
            height: 22rem;   
        }
        @media screen and (max-width: 849px) and (min-width: 700px){
            width: 18rem;
            height: 18rem;
            left: 1.7rem;
            top: -1.7rem;   
        }
        @media screen and (max-width: 699px) and (min-width: 550px) {
            width: 16rem;
            height: 16rem;
            left: 1.5rem;
            top: -1.5rem;
        }
        @media screen and (max-width: 549px) and (min-width: 400px) {
            width: 14rem;
            height: 14rem;
            left: 1.5rem;
            top: -1.5rem;
        }
        
    }
}
.div__h3-header{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    line-height: 5.3rem;
    font-weight: 600;
    background: white;
    display: block;
    width: 26rem;
    margin: 5rem auto;
    text-align: center;
    padding: 1rem auto;

    @media screen and (max-width: 1000px) and (min-width: 850px) {
        &{
            font-size: 3.6rem;
            width: 23rem;                       
        }
    }
    @media screen and (max-width: 699px) and (min-width: 550px) {
        &{
            font-size: 2.7rem;
            width: 17rem;
        }
    }
    
}
.sectionSkills{
    padding-bottom: 5rem;
    border-bottom: 1.3px solid white;
    
    @media screen and (max-width: 699px) and (min-width: 550px) {
        &{
            padding-bottom: 2.3rem; 
        }
    }
    @media screen and (max-width: 549px) and (min-width: 400px) {
        &{
            padding-bottom: 1rem; 
        }
    }
    

    .skillsList{
        list-style: none;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly ;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 0 2rem;

        &Item{
            padding: 3rem 0;
            margin-top: 2rem;
            margin-bottom: 2rem;
            font-family: 'Playfair Display', serif;
            font-style: italic;
            font-weight: 500;

            @media screen and (max-width: 699px) and (min-width: 550px) {
                &{
                    padding: .4rem 0;
                    margin-top: .3rem; 
                }
            }
            @media screen and (max-width: 549px) and (min-width: 400px) {
                &{
                    padding: 0;
                    margin-top: 0; 
                }
            }
            

            &:not(:last-child){
                margin-left: 1.3rem;
            }
            
            .skillsName{
                font-size: 2.2rem;
                display: block;
                text-align: center;
            }
        }
    }
}
.sectionWorks{
    padding-bottom: 5rem;
    

    .workList{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        list-style: none;
        // flex-wrap: wrap;
        

        .workListItem{
            // width: 40rem;
            // height: 50rem;
            
            

            .workImg{ 
                width: 100%;                 
                height:80%;
                object-fit: contain;
                object-position: top;
                border-radius: 3px;
                box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
                transition: transform 0.3s;

                &:hover{
                    transform: translateY(-1.5rem) scale(1.03);
                }
            }

            &:not(:last-child){
                margin-right: 2.2rem;
            }
            .workListSummary{
                margin-top: 1rem;
            }
        }
    }
}
footer{
    background-color: $color-bgFooter;
    color: $color-white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5rem 15rem;

    @media screen and (max-width: 1000px) and (min-width: 850px) {
        &{
            padding: 5rem 10rem; 
        }
    }
    @media screen and (max-width: 849px) and (min-width: 700px) {
        &{
            padding: 5rem 7rem; 
        }
    }
    @media screen and (max-width: 699px) and (min-width: 550px) {
        &{
            padding: 5rem 5rem; 
        }
    }
    @media screen and (max-width: 549px) and (min-width: 400px) {
        &{
            padding: 3rem 3rem; 
        }
    }

    .div{
        &__footerEmail{
            font-family: 'Playfair Display', serif;
        }
        &__h4-heading{
            font-size: 2.8rem;
            line-height: 2.4rem;
            font-family: 'Montserrat', sans-serif;
            @media screen and (max-width: 849px) and (min-width: 700px) {
                &{
                    font-size: 2.5rem;
                }
            }
            @media screen and (max-width: 699px) and (min-width: 550px) {
                &{
                    font-size: 2.0rem; 
                }
            }
            @media screen and (max-width: 549px) and (min-width: 400px) {
                &{
                    font-size: 2.0rem; 
                }
            }
        }
        &__p-footerMail{
            font-family: 'Roboto Slab', serif;
            font-size: 1.2rem;
            margin-top: .85rem;

            @media screen and (max-width: 699px) and (min-width: 550px) {
                &{
                    font-size: 1.0rem; 
                }
            }
            @media screen and (max-width: 549px) and (min-width: 400px) {
                &{
                    font-size: 1.0rem; 
                }
            }
        }
        &__p-cw{
            font-size: 1.5rem;
            margin-top: 3.5rem;

            @media screen and (max-width: 699px) and (min-width: 550px) {
                &{
                    font-size: 1.2rem; 
                }
            }
            @media screen and (max-width: 549px) and (min-width: 400px) {
                &{
                    font-size: 1.2rem; 
                }
            }
        }
    }

    .footerLink{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        &Item{

            &:hover{
                cursor: pointer;
            }
            &:not(:first-child){
                margin-left: 2rem;
            }

            & > a{
                text-decoration: underline;

            }
            
        }
    }
}
.linked{
    font-size: 1.9rem;
    text-align: center;
}
