@-webkit-keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes moveRight {
  0% {
    -webkit-transform: translateX(1.5rem);
            transform: translateX(1.5rem);
  }
  60% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveRight {
  0% {
    -webkit-transform: translateX(1.5rem);
            transform: translateX(1.5rem);
  }
  60% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
  font-family: 'Montserrat', sans-serif;
  background: #f4f4f4;
}

.nav__div-name {
  font-weight: 700;
  font-size: 2.2rem;
  color: #000000;
  margin-left: 5rem;
}

.nav__div-navMenu {
  margin-right: 5rem;
}

.nav__div-navMenu .nav__ul-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: none;
}

.nav__div-navMenu .nav__ul-list .nav__li-listItem:not(:last-child) {
  margin-right: 2rem;
}

.nav__div-navMenu .nav__ul-list .nav__li-listItem {
  font-size: 1.4rem;
  font-weight: 600;
  -webkit-transition: 500ms ease-out;
  transition: 500ms ease-out;
}

.nav__div-navMenu .nav__ul-list .nav__li-listItem:hover {
  cursor: pointer;
  color: #255bbb;
}

.mainIntro {
  padding: 15rem 15rem 0 15rem;
}

.mainIntro .sectionIntro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 5rem;
  border-bottom: 1.3px solid white;
}

.mainIntro .sectionIntro .div__introName {
  font-family: 'Playfair Display', serif;
  font-size: 2.7rem;
  width: 60%;
}

.mainIntro .sectionIntro .div__h5-intoHello {
  font-size: 7rem;
  line-height: 8.4rem;
  font-weight: 600;
}

.mainIntro .sectionIntro .div__span-line {
  font-weight: 700;
}

.mainIntro .sectionIntro .div__span-shaking {
  -webkit-animation-name: wave-animation;
          animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  /* Change to speed up or slow down */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /* Never stop waving :) */
  -webkit-transform-origin: 70% 70%;
          transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

.mainIntro .sectionIntro .div__span-shaking:hover {
  cursor: move;
}

.mainIntro .sectionIntro .div__introDesc {
  text-align: end;
  width: 40%;
  font-family: 'Roboto Slab', serif;
}

.mainIntro .sectionIntro .div__p-desc {
  width: 60%;
  margin-left: 10%;
  font-size: 1.6rem;
  font-weight: 400;
  color: #ababab;
  display: inline-block;
}

.mainIntro .sectionIntro .div__p-descSpan {
  color: #255bbb;
}

.mainIntro .sectionIntro .div__p-contactme {
  margin-top: 1rem;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
  word-spacing: .1rem;
}

.mainIntro .sectionIntro .div__p-contactme > a {
  color: #255bbb;
  font-weight: 400;
}

.mainIntro .sectionAbout {
  padding-bottom: 5rem;
  border-bottom: 1.3px solid white;
}

.mainIntro .sectionAbout .div__aboutMe {
  padding-top: 5rem;
}

.mainIntro .sectionAbout .div__aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mainIntro .sectionAbout .div__aboutFlex-img {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.mainIntro .sectionAbout .div__aboutFlex-p {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}

.mainIntro .sectionAbout .div__aboutFlex-p > p {
  width: 85%;
  margin: 0 auto 2rem auto;
  text-align: center;
}

.div__aboutFlex-imgBg {
  background: #63666a;
  position: relative;
  width: 32rem;
  height: 32rem;
  border-radius: 1rem;
}

.div__aboutFlex-imgBg .img__me {
  width: 32rem;
  height: 32rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  position: absolute;
  top: -2rem;
  left: 2rem;
  z-index: 1;
}

.div__h3-header {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  line-height: 5.3rem;
  font-weight: 600;
  background: white;
  display: block;
  width: 26rem;
  margin: 5rem auto;
  text-align: center;
  padding: 1rem auto;
}

.sectionSkills {
  padding-bottom: 5rem;
  border-bottom: 1.3px solid white;
}

.sectionSkills .skillsList {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 2rem;
}

.sectionSkills .skillsListItem {
  padding: 3rem 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 500;
}

.sectionSkills .skillsListItem:not(:last-child) {
  margin-left: 1.3rem;
}

.sectionSkills .skillsListItem .skillsName {
  font-size: 2.2rem;
  display: block;
  text-align: center;
}

.sectionWorks {
  padding-bottom: 5rem;
}

.sectionWorks .workList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: none;
}

.sectionWorks .workList .workListItem {
  width: 40rem;
  height: 50rem;
}

.sectionWorks .workList .workListItem .workImg {
  width: 100%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.sectionWorks .workList .workListItem .workImg:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.03);
          transform: translateY(-1.5rem) scale(1.03);
}

.sectionWorks .workList .workListItem:not(:last-child) {
  margin-left: 2.2rem;
}

.sectionWorks .workList .workListItem .workListSummary {
  margin-top: 1rem;
}

footer {
  background-color: #292929;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem 15rem;
}

footer .div__footerEmail {
  font-family: 'Playfair Display', serif;
}

footer .div__h4-heading {
  font-size: 2.8rem;
  line-height: 2.4rem;
  font-family: 'Montserrat', sans-serif;
}

footer .div__p-footerMail {
  font-family: 'Roboto Slab', serif;
  font-size: 1.2rem;
  margin-top: .85rem;
}

footer .div__p-cw {
  font-size: 1.5rem;
  margin-top: 3.5rem;
}

footer .footerLink {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .footerLinkItem:hover {
  cursor: pointer;
}

footer .footerLinkItem:not(:first-child) {
  margin-left: 2rem;
}

footer .footerLinkItem > a {
  text-decoration: underline;
}

.linked {
  font-size: 1.9rem;
  text-align: center;
}

.icons-html {
  color: #dd4b25;
}

.icons-css {
  color: #254bdd;
}

.icons-jvs {
  color: #efd81d;
}

.icons-sass {
  color: #c76494;
}

.icons-react {
  color: #5ed3f3;
}

.icons-next {
  color: black;
}

.icons-boots {
  color: #7010ef;
}

.icons-linkedIn {
  color: #0a63bc;
}

.icons-github {
  color: white;
}

.p-common {
  font-size: 2.2rem;
  font-family: 'Roboto Slab', serif;
}

.fa-arrow-right-long {
  padding: 0 .5rem;
}

.fa-arrow-right-long:hover {
  cursor: pointer;
  display: inline-block;
  -webkit-animation: moveRight .8s ease-in-out;
          animation: moveRight .8s ease-in-out;
}
/*# sourceMappingURL=main.css.map */